{% extends 'baseTemplate.html' %}

{% block titulo %} Agregar Modelo {% endblock %}

{% block contenido_admin %}
	
	<div class="row">
		<div class="col-xs-6 col-sm-4 col-md-4 col-xs-offset-3 col-sm-offset-4 col-md-offset-4 form-color">
			<h2 class="text-center">Agregar Modelo</h2>
			<br>
			{% if messages %}
			<div class="row">
		        <div class="col-md-12">
		            {% for message in messages %}
		            <div class="alert alert-danger {{ message.tags }} ">
		                {{ message|safe }}
		            </div>
		            {% endfor %}
		        </div>
	    	</div>
	    	{% endif %}

	    	<form class="form-horizontal" role="form" enctype="multipart/form-data" method="POST">
	    		<div class="form-group">
		    		{% csrf_token %}	    

		    		{{ form.as_p }}		


<!-- 		    		<br>
		    		<div class="col-xs-8 col-sm-6 col-md-4 col-xs-offset-2 col-sm-offset-3 col-md-offset-4">
		    			{{ form.clave }}
		    		</div>
		    		<br><br><br>
-->				
 					<br>
 					<div class="text-center">
			    		<div class="btn-group">				
							<button type="submit" class="btn btn-success">Agregar</button>
							<a href="{% url 'consultar_modelos' %}" class="btn btn-danger">Cancelar</a>				
						</div>
					</div>
				</div>
			</form>
		</div>		
	</div>	

{% endblock %}