body {
	background-image: url('../img/fondoLety.png');
	/*background-color: #9F99D5;*/
}

.item-modelos {
	/*background-color: #FF9FE6;*/
	background-color: #FFB6EC;
	/*color: #593F62;*/
	color: black;
	/*color: #555176;*/
}

.row-black {	
	background-color: #555176;
	color: white;
}

.row-white {
	background-color: #FFFFFF;
}

.form-color {
	padding: 0 40px;
	background-color: #FF9FE6;
	border-radius: 10px;
}

.badge-nuevo {
	position: absolute; 
	right: 0; 
	top: 10px;
	background-color: #3B3A47;
}

.filtrar-div {
	margin-top: 50px;
	float: right;
}

.search-div {
	margin-top: 50px;
}

.logout-div {
	margin-top: 50px;
}

.logo-lg {
	width: 70%;
	height: 200px;
	margin-top: -30px;
	margin-bottom: -30px;
	margin-left: -30px;
}

.logo-md {
	width: 70%;
	height: 200px;
	margin-top: -30px;
	margin-bottom: -30px;
	margin-left: -20px;
}

.logo-sm {
	width: 100%;
	height: 200px;
	margin-top: -30px;
	margin-bottom: -30px;
	margin-left: -40px;
}

.logo-xs {
	width: 100%;
	height: 120px;
	margin-top: -10px;
	margin-bottom: -10px;
	margin-left: -10px;
}

.a-exhibido {
	margin: 0 0 3px;
}

.right {
	float: right;	
	padding-left: 30%;
	padding-right: 30%;
}

.div-center {
	left: 50%;
	transform: translate(-50%, 0%);
}

.divmodelo {
	margin: 0px;
	text-align: center;	
}

.img_table {
	width: 50px;
	height: 50px;
}

.circular {	
	width: 20px;
	height: 25px;
	border-radius: 49%;	
}

.icon_circular {
	right: 7px;
	top: -3px;	
}

.badge-color {
	
}

.badge-except {
	color: #000000;
}

.div-color {
	display: inline-block;
	height: 30px;
	width: 30px;
	color: white;
	border-radius: 50%;
}


/*
.div-fondo-colores {
	background-image: url('../img/fondo1.jpg');
	background-repeat: no-repeat;
}
*/

/*.color1 { background-color: red; }
.color2 { background-color: blue; }
.color3 { background-color: yellow; }
.color4 { background-color: black; }
.color5 { background-color: purple; }
.color6 { background-color: green; }*/